<welcome>

    <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2" localize="welcome-header"></h1>
                    <p class="lead mb-5 text-white-50" localize-html="welcome-text"></p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">
            <div class="col-md-8 mb-5">
                <h2 localize="getting-started-header"></h2>
                <hr>
                <p localize="getting-started-text"></p>
                <p localize="getting-started-subtext"></p>
                <a href="http://www.resonatejs.org/about" target="_blank" class="btn btn-primary" localize="getting-started-button"></a>
            </div>
            <div class="col-md-4 mb-5">
                <h2 localize="feedback-header"></h2>
                <hr>
                <p localize="feedback-text"></p>
                <address>
                    <a href="mailto:sample@resonatejs.org">sample@resonatejs.org</a>
                </address>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/tasks-demo.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" localize="tasks-demo-header"></h4>
                        <p class="card-text" localize="tasks-demo-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="~/demo/tasks" class="btn btn-primary" localize="tasks-demo-button"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/downloads.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" localize="download-source-header"></h4>
                        <p class="card-text" localize="download-source-text"></p>
                    </div>
                    <div class="card-footer">
                        <a  href="/resonate.source-code.zip" target="_blank" class="btn btn-primary" localize="download-source-button"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/documentation.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" localize="documentation-header"></h4>
                        <p class="card-text" localize="documentation-text"></p>
                    </div>
                    <div class="card-footer">
                        <a href="http://www.resonatejs.org/documentation" target="_blank" class="btn btn-primary" localize="documentation-button"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</welcome>