<task-details>

    <tasks-header header="details-header"></tasks-header>

    <div class="container pt-3">
        <tasks-section section-header="{task.isNewTask ? 'create-task-header' : 'edit-task-header'}" localize-help="{task.isNewTask ? 'create-task-help' : 'edit-task-help'}">
            <div class="row pt-3 pb-2">
                <div class="col-md-7 mb-3">
                    <div class="pb-3">
                        <label>
                            <span localize="due-field"></span> 
                            <span class="{{ 'defaults': 'validated-field, float-right', 'required-field': dueChanged && (task.dueDate === '' || task.dueTime === '') }}" localize="required-field"></span>
                        </label>
                        <div class="pt-2 pb-1 pl-2">
                            <input type="date" value="{task.dueDate}" oninput="{dueChanged = true}" disabled="{task.statusId === 3}" />
                            <input type="time" value="{task.dueTime}" oninput="{dueChanged = true}" disabled="{task.statusId === 3}" />
                        </div>
                    </div>
                    <div>
                        <label>
                            <span localize="description-field"></span>
                            <span class="{{ 'defaults': 'validated-field, float-right', 'required-field': descriptionChanged && task.description === '' }}" localize="required-field"></span>
                        </label>
                        <div class="pt-2 pb-1 pl-2 pr-2">
                            <textarea value="{task.description}" oninput="{descriptionChanged = true}" spellcheck="false" lang="none" disabled="{task.statusId === 3}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="task-info">
                        <div>
                            <label localize="id-field"></label>
                            <span>{task.id}</span>
                        </div>
                        <div>
                            <label localize="status-field"></label>
                            <span>{@getStatus(task.statusId)}</span>
                        </div>
                        <div>
                            <label localize="created-field"></label>
                            <span>{@formatDateTime(task.created)}</span>
                        </div>
                        <div>
                            <label localize="updated-field"></label>
                            <span>{@formatDateTime(task.updated)}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 task-buttons">
                <button class="float-right mb-2 btn btn-tasks ml-2" localize="save-button" onclick="{save()}" show="{task.statusId !== 3}" disabled="{!isValid()}"></button>
                <button class="float-right mb-2 btn btn-tasks ml-2" localize="cancel-button" onclick="{cancel()}"></button>
                <button class="float-right mb-2 btn btn-tasks ml-2" localize="complete-button" onclick="{complete()}" show="{task.statusId !== 3}" disabled="{!isValid()}"></button>
            </div>
        </tasks-section>
    </div>

</task-details>